<!-- Connection -->
<div ng-show="showConnectionDialog" class="container">
	<div class="shadowing"></div>
	<div class="dialog centered">
		<div class="box">
			<div class="brand">Instamap</div>
			<div class="legend">Instamap utilise les informations de votre compte Instagram pour fonctionner et a besoin de votre autorisation.</div>
			<img class="logo" src="/images/insta.jpg" alt="logo instagram"></img>
			<div class="btn" ng-click="connect()">Autoriser cette application</div>
		</div>
		<div class="box">
			 <a target="_blank" href="https://www.instagram.com/">Vous n'avez pas de compte Instagram ?</a>
		</div>
	</div>
</div>

<div class="container" ng-controller="MapCtrl">
	<div id="map"></div>
</div>
