

body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

#preloader {
  width:100%;
  height:100%;
  position: absolute;
  left:0px;
  top:0px;
  background: #ffc50a;
  cursor: pointer;
  z-index: 700;
}
  #preloader  #circle {
    border: 6px solid #0c2d53;
    border-bottom-color: #ffffff;
    border-radius: 50%;
    width:25px;
    height: 25px;
    left: 50%;
    margin-left: -19px;
    margin-top: -19px;
    top: 50%;
    transition: all 0.7s ease-in-out;
    animation: spin 0.5s linear infinite;    
    position: absolute;  
  }

@keyframes spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

#main-container {
  position: absolute;
  width: 728px;
  height: 90px;
  box-sizing: border-box;
  border:1px solid #010101;
  background: #000000;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#exit {
  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  width: 728px;
  height: 90px;
  display: block;
  z-index: 700;
}

#logoSplashBg {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ffc50a;
}

#logoCircle {
  position: absolute;
  top: 50%;
  left:50%;
  width: 50px;
  height:50px;
  border-radius: 50%;
  background-color: #0c2d53; 
  transform: translate(-50%,-50%);
  overflow: hidden;
}

#logoPlane {
  position: absolute;
  top: 5px;
  left:-20px;
  width:66px;
  height: 35px;
  display:block;
  background-image: url(images/logoPlane.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#imgMask {
  position: absolute;
  top: 50%;
  left:50%;
  width: 1100px;
  height:1100px;
  transform: translate(-50%,-50%) scale(0.75,0.75);
}

#imgMask svg {
  width: 100%;
  height: 100%;
}

.keyVisual {
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
  width: 728px;
  height: 90px;
  display: block;
}

#img1 {
  background-repeat: no-repeat;
  background-position: center center;
}

#img2 {
  background-repeat: no-repeat;
  background-position: center center;
}
#img3 {
  background-repeat: no-repeat;
  background-position: center center;
}
#img4 {
  background-repeat: no-repeat;
  background-position: center center;
}

#imgExposure {
  opacity: 0;
  background-color: #ffffff;
  filter: brightness(140%);
}

.frameContent {
  font-family: ‘Roboto’, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  width: 728px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left:0%;
  transform: translate(0%,-50%);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.frameCopy {
  overflow:hidden;
  padding: 10px 0;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.frameCopy div {
  line-height: 1.1em;
}

.orangeCopy {
  color: #ffc609;
  padding: 10px 0 0 0;
  font-size: 40px;
  line-height: 35px;
  overflow:hidden;
}

.orangeCopy div {
  line-height: 1.1em;
}

.smallCopy {
  font-size: 30px;
  line-height: 30px;
  overflow:hidden;
}

.smallCopy div {
  line-height: 1.1em;
}


#frame1Icon {
  background-image: url(images/flight-icon.svg);
}

#frame2Icon {
  background-image: url(images/hotel-icon.svg);
}

#frame3Icon {
  background-image: url(images/car-icon.png);
}

.frameIcon {
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  margin: 0 auto 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}


#endCopySection {
  display: block;
  position:absolute;
  top: 0;
  left:0;
  width: 728px;
  height: 90px;
  background-color: #0c2d53;
}

.copy {
  position: absolute;
  top: 0;
  left:0;
  opacity: 0;
  display: block;
  font-family: ‘Roboto’, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  line-height: 90px;
  letter-spacing: -1px;
  width: 728px;
  text-align: center;
  color: #ffffff;
}

#endCopy1 {
  opacity: 1;
}


#endCopyOrange {
  display: block;
  position:absolute;
  top: 0;
  left:0;
  width: 728px;
  height: 90px;
  background-color: #ffc600;
}

#endCopyStop {
  position: absolute;
  top: 47px;
  left:498px;
  width: 10px;
  height:10px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ffc600;
}


#orangePanel {
  display: block;
  position:absolute;
  opacity: 0;
  top: 0;
  left:0;
  width: 728px;
  height: 90px;
  background-color: #ffc600;
}

#endFrame {
  display: block;
  position:absolute;
  top: 90px;
  left:0;
  width: 728px;
  height: 90px;
  overflow:hidden;
}
/*
#endFrame::after {
  content: '';
  display: block;
  width: 300px;
  height: 700px;
  position: absolute;
  transform: rotate(15deg);
  background: linear-gradient(to left, rgba(255,255,255,0.0) 25%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.0) 75%);
  mix-blend-mode: overlay;
  top: -50px;
  left: -300px;
  transition: all 2s ease;
}*/

#logoEnd {
  position: absolute;
  top: 0px;
  left:0px;
  width: 728px;
  height: 90px;
  display:block;
  background-repeat: no-repeat;
}

#cta {
  position: absolute;
  top: 25px;
  right: 75px;
  width: 145px;
  height: 40px;
  display: block;
  overflow: hidden;
  background-color: #023560;
  font-family: ‘Roboto’, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all 0.25s ease;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}

#cta::after {
  content: '';
  display: block;
  width: 20px;
  height: 90px;
  position: absolute;
  transform: rotate(35deg);
  background-color: rgba(244,244,244,0.5);
  top: -20px;
  left: -45px;
  transition: all 0.5s ease;
}


#main-container:hover #cta::after {
  left:240px;
}

/*#main-container:hover #endFrame::after {
  left:600px;
}*/

#main-container:hover #cta {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1)
}

#endBadge {
  position: absolute;
  bottom: -85px;
  left: -40px;
  width:300px;
  height: 200px;
  display:block;
  transform: rotate(40deg);
  background-color: #ffffff;
  transform-origin: 0% 0%;
  overflow: hidden;
}

#badgeImg {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -29px;
  width: 84px;
  height: 58px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-image: url("images/findYourBritain.png");*/
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

#bar {
  background: #ffc50a;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 148px;
  height: 100%;
}

#barImageContainer {
  height: 100%;
  background-position-y: 24px;
  background-position-x: -43px;
  background-size: 362px;
  background-repeat: no-repeat;
  /*background-image: url("images/logoEnd.png");*/
}

.frame-intro {
  z-index: 30;
}

.dark-filter {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}